* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    color:cornsilk;
}

.registration-form .box-container .box-gray .flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.registration-form .box-container .box-gray .flex .form-label{
    padding-right: 20px;
    padding-bottom: 15px;
}

.box-gray {
    background-color: rgb(10, 85, 63);
    padding: 20px 15px;
    border-radius: 10px;
    width: 900px;
    margin: 5rem auto;
    justify-content: center;

}

/* utilitie */
.box-container{
    display: flex;
    width: 90%;
    margin: 0 5%;
}

/* input[type="text"]{
    padding: 10px 2px;
} */

.forms{
    width: 100%;
    padding: 5px 1px;
    border-radius: 5px;
    border: 1px solid gray ;
}

input:focus{
    outline: none !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.btn {
    padding: 7px 20px;
    border-radius: 5px;
    background-color: rgb(43, 102, 168);
    color: white;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}